<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/layout.css">
  <link rel="stylesheet" href="queries.css">
</head>
<body>
  <header>
    <h2>heading header</h2>
  </header>
  <section>
    <nav>
      <ul>
        <li><a href="#">menu</a></li>
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">menu</a></li>
      </ul>
    </nav>
    <article>
      <h1>heading section</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit ullam nisi, repellat ab aperiam vero ad nam, voluptatum autem perspiciatis ipsam ratione eligendi quos accusamus eum officia! Neque, eum architecto!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident, adipisci necessitatibus unde error corrupti atque soluta molestias, quisquam cupiditate eaque ducimus molestiae voluptatem cum iusto quidem illo temporibus doloribus?</p>
    </article>
  </section>
  <footer>
    <p>footer</p>
  </footer>
  <hr>

  <h1>Media Queries</h1>
  <div class="left">
    <p>left menu</p>
  </div>
  <div class="main">
    <p>main content</p>
  </div>
  <div class="right">
    <p>right content</p>
  </div>
</body>
</html>