*{
  box-sizing: border-box;
}
.left{
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 20%;
}
.main{
  background-color: #cc7474;
  padding: 20px;
  float: left;
  width: 60%;
}
.right{
  background-color: #04AA6D;
  padding: 20px;
  float: left;
  width: 20%;
}
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
